body {
    background: black;
    .container{
        margin-top: 30vh;
        padding: 5rem;    
        color: #17D4FE;
        font-size: 4rem;
        font-family: fantasy;
        letter-spacing: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
        span{
            font-size: 2rem;
        }
    
        .box{
            margin: 2rem;
            font-size: 4rem;
        }
    }
    
}






